<h1>方案 <%= @plan.upcase %></h1>
<h2>價錢 <%= @price %></h2>

<script src="https://js.braintreegateway.com/web/dropin/1.23.0/js/dropin.min.js"></script>
<button id="submit-button">Request payment method</button>

<div id="dropin-container"></div>
<script>
  var button = document.querySelector('#submit-button');

  braintree.dropin.create({
    authorization: 'CLIENT_TOKEN_FROM_SERVER',
    container: '#dropin-container'
  }, function (createErr, instance) {
    button.addEventListener('click', function () {
      instance.requestPaymentMethod(function (err, payload) {
        // Submit payload.nonce to your server
      });
    });
  });
</script>
