body {
  // background-color: #000;
}

* {
  // color: #eee;
  margin: 0;
  padding: 0;
}

.btn {
  // background-color: #eee;
  color: #222;
}

.header {
  background-color: blue;
  span {
    background-color: blue;
  }
  .title {
    color: yellow;
  }
}

nav.pagination {
  span {
    border: 1px white solid;
    padding: 2px;
    margin-right: 2px;
  }
}
