body{
  background-color: #000;
}

*, div, p, span, a {
  background-color: #000;
  color: #eee;
  margin: 0;
  padding: 0;
}

.header{
  background-color: blue;
  span{
    background-color: blue;
  }
  .title{
    color: yellow;
  }
}